.page-title {
  margin-left:2em;
  margin-top:1em;
  /* text-align: center; */
}
.MainPage {
  height: 55em, 100%;
  /* margin-bottom: 5px; */
  /* background-size: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding-bottom: 0px;
  margin-top:85px;
}
.childTitle{
  color: rgb(16, 114, 97);
  text-shadow: 1px 1px 5px rgb(254, 255, 255);
  font-family: 'Satisfy', cursive;
  font-size:3.5em;
}
.parentTitle {
  color: white;
  margin-top:2.5em;
  text-shadow: 1px 1px 5px rgb(16, 114, 97);
  font-family: 'Satisfy', cursive;
  font-size:5em;
}
.childCards {
  float: left;
  margin-left: 2.5rem;
  z-index: 20px;
}

.card {
  float: left; 
}
.btn {
  margin:3px;
}
.addChildBtn {
  margin-left: 8em;
}