.new-image {
    background: url("../img/BabyinAir.jpg");
    height: 65em, 100%;
    margin-bottom: 20px;
    background-size: 100%;
    background-position: top;
    background-attachment: scroll;
    width: 100%;
    float: left;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px rgb(108, 149, 161);
}

.activity-image {
    background-image: url('../img/feeding.jpg');
}

.childPage {
    background-image: url("../img/pencils2.jpg");
    height: 100%;
    margin-bottom: 20px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.jumbotron {
    color:white;
    background-image: url("../img/hands.jpg");
    background-size: cover;
    border: 2px solid rgb(146, 250, 219);
    background-repeat: no-repeat;
    background-position: center;
    height: 42rem;
    width: 100%;
    padding: 3rem; 
    background-attachment:contain;
    box-shadow: 0px 7px 15px rgb(3, 54, 50);
    /* text-align: center; */
    text-shadow: 0px 1px 3px rgb(9, 146, 123);
    z-index: 10px;
}
.jumbotron2 {
  color:white;
    background-image: url("../img/babyYawn.jpg");
    background-size: cover;
    border: 2px solid rgb(146, 250, 219);
    background-repeat: no-repeat;
    background-position: center;
    height: 42rem;
    width: 100%;
    padding: 3rem; 
    box-shadow: 0px 7px 15px rgb(3, 54, 50);
    text-align: center;
    text-shadow: 0px 1px 3px rgb(9, 146, 123);
    z-index: 10px;
    font-family: 'Satisfy', cursive;
    font-size: 1.25em;
}
.jumbotron3 {
  color:white;
    background-image: url("../img/notebook.jpg");
    background-size: cover;
    border: 2px solid rgb(146, 250, 219);
    background-repeat: no-repeat;
    background-position: center;
    height: 42rem;
    width: 100%;
    padding: 3rem; 
    background-attachment:contain;
    box-shadow: 0px 7px 15px rgb(3, 54, 50);
    text-align: center;
    text-shadow: 0px 1px 3px rgb(9, 146, 123);
    z-index: 10px;
    font-family: 'Satisfy', cursive;
}
.jumbotron4{
  color:white;
    background-image: url("../img/paintedChild.jpg");
    background-size: cover;
    border: 2px solid rgb(146, 250, 219);
    background-repeat: no-repeat;
    background-position: center;
    height: 42rem;
    width: 100%;
    padding: 3rem; 
    background-attachment:contain;
    box-shadow: 0px 7px 15px rgb(3, 54, 50);
    text-align: center;
    text-shadow: 0px 1px 3px rgb(9, 146, 123);
    z-index: 10px;
    font-family: 'Satisfy', cursive;
}
.jumbotron5{
  color:white;
    background-image: url("../img/journal.jpg");
    background-size: cover;
    border: 2px solid rgb(146, 250, 219);
    background-repeat: no-repeat;
    background-position: center;
    height: 42rem;
    width: 100%;
    padding: 3rem; 
    box-shadow: 0px 7px 15px rgb(3, 54, 50);
    text-align: center;
    text-shadow: 0px 1px 3px rgb(9, 146, 123);
    z-index: 10px;
    font-family: 'Satisfy', cursive;
}